<!DOCTYPE html>
<html lang="en">
    <%- include( '../partials/head.ejs' , {page: 'Edit Photo'} ) %>
<body>
    <%- include ( '../partials/nav') %>
    <section class="title-sec">
        <div class="title-body">
            <p class="title">Edit <%= photo.name%></p>
        </div>
    </section>
    <main class = "main-edit">
        <div class = "edit">
            <form action="/photos/<%= photo.id %>?_method=PUT" method="POST">
                <fieldset class ="editPhoto">
                    <label for="photoName">Name</label>
                    <input type="text" id="photoName" placeholder="photo name" name="name" value = "<%= photo.name %>">
                </fieldset>
                <fieldset class ="editPhoto">
                    <label for="imgURL">Photo URL</label>
                    <input type="text" id="imgURL" placeholder="image@url.com" name="image" value = "<%= photo.image %>">
                </fieldset>
                <fieldset class ="editPhoto" >
                    <label for="description">Description</label>
                    <textarea id="description" type="text" name="description" cols=50 rows=10 value = "<%= photo.description %>"></textarea>
                </fieldset class ="editPhoto">
                    <button class = "editButton" id = "edit" type="submit">Edit Photo</button>
                </form>
                <form action ="/photos/<%= photo.id %>">
                    <button class = "editButton" id = "cancel" type="submit" href="/photos/<%= photo.id %> ">Cancel</button>
                </form>
                <form action = "/photos/<%= photo.id %>?_method=DELETE" method="POST">
                    <button class = "editButton" id = "delete" type="submit">Delete</button>  
                </form>
        </div>
    </main>
</body>
</html>