<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs' , {page: photo.name} ) %>

    <body>
        <%- include( '../partials/nav' ) %>
            <section class="title-sec">
                <div class="title-body">
                    <p class="title">
                        <%photo.name%>
                    </p>
                </div>
            </section>
            <main class="showPhoto">
                <article class="show">
                    <div>
                        <img src="<%= photo.image %>" alt="Placeholder image" />
                    </div>
                    <div class=description>
                        <p><%= photo.description%></p>
                    </div>
                    <div class="edit">
                        <a class="button is-info" href="/photos/<%= photo.id %>/edit">Edit Photo</a>
                    </div>
                </article>
                </article>
                </div>
            </main>
    </body>

</html>